body {
  background: #2b343b;
  background-image:url(../img/content-bg.png);
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
  font-size: 13px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 16px;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
  min-height: 400px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}

.tForm {
    padding: 0px;
    margin: 0px;
}
.tForm td {
    vertical-align: middle;
    padding: 4px;
}

.tForm input[type=text], .tForm textarea
{
     width: 220px;
}

input[type=submit], input[type=button], .tForm input[type=submit], .tForm input[type=button]
{
	font-size: 16px;
	font-weight:bold;
}

.msg 
{
    text-align: left;
    margin: 2px;
    padding: 2px;
    padding-bottom: 10px;
}

.sucess
{
    color: green;
}

.fail
{
    color: red;
}

p
{
    font-size: 13px;
    text-align: left;
    margin: 2px;
    padding: 2px;
}

.tReg {
    font-size: 13px;
}

.tReg a{
    color: blue;
}

.explica
{
    font-size: 13px;
}